.approach {

    @media screen and (min-width: 480px) {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    @media screen and (min-width: 768px) {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    @media screen and (min-width: 1600px) {
        margin-top: 94px;
        margin-bottom: 94px;
    }
    

    &__block {
    --item: 1;

    @media screen and (min-width: 768px) {
     --item: 2;
    }

    @media screen and (min-width: 1600px) {
     --item: 4;
    }
}

    &__svg {
        display: flex;
        min-width: 270px;
        min-height: 120px;
        justify-content: center;
        align-items: center;
        background-color: var(--menu-btn-cl);
        margin-bottom: 30px;
    }

    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    &__p {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--txt-secondery);

    }
    .approach-hidentitle {
        display: none;
    }
}