.footer {
    background-color: var(--bg-order);
    padding: 60px 0px;



&__container {
    margin-bottom: 60px;

    @media screen and (min-width: 768px) {
        margin-left: auto;
        margin-right: auto;
    }
}

&__sublabel {

    @media screen and (min-width: 480px) {
        margin-bottom: 20px;      
    }

    @media screen and (min-width: 768px) {
        margin-bottom: 20px;      
    }
}

&__logo {
    
    @media screen and (min-width: 480px){
       display: flex;
       justify-content: center; 
    }

    @media screen and (min-width: 768px){
       display: flex;
       justify-content: center; 
    }
    
    @media screen and (min-width: 1600px){
       display: block;
    }
}


&__address-box {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}


&__addressdescr {
    display: flex;
    width: max-content;
    color: var(--txt-general-btn);
    margin-top: 20px;
    margin-bottom: 9px;

    @media screen and (min-width: 480px) {
        margin-left: auto;
        margin-right: auto;
        }

    @media screen and (min-width: 768px) {
        margin-left: auto;
        margin-right: auto;
        }

    @media screen and (min-width: 1600px) {
        margin-left: auto;
        margin-right: auto;

}
}

&__mailto {
    display: flex;
    width: max-content;
    color: var(--txt-mail-footer);
    margin-bottom: 9px;

    @media screen and (min-width: 480px) {
        margin-left: auto;
        margin-right: auto;
        }

    @media screen and (min-width: 768px) {
        margin-left: auto;
        margin-right: auto;
        }

    @media screen and (min-width: 1600px) {
        margin-left: 0;
        margin-right: auto;
    }
}

&__tel {
    display: flex;
    width: max-content;
    color: var(--txt-mail-footer);

    @media screen and (min-width: 480px) {
        margin-left: auto;
        margin-right: auto;
        }

    @media screen and (min-width: 768px) {
        margin-left: auto;
        margin-right: auto;
        }

    @media screen and (min-width: 1600px) {
        margin-left: 0;
        margin-right: auto;
        }
}



&__container-links {
    // margin-left: 70px;

    @media screen and (min-width: 480px) {
        margin-bottom: 60px;
        
    }

    @media screen and (min-width: 768px) {
        margin-bottom: 60px;
        margin-left: 165px;
        margin-right: auto;
        
    }

        @media screen and (min-width: 1600px) {
            margin-bottom: 60px;
            margin-left: 70px;
            margin-right: 93px;  
        }
}

&__title,
&__emailinput {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--txt-general-btn);
    margin-bottom: 20px;

    @media screen and (min-width: 480px) {
        text-align: center;
    }

    @media screen and (min-width: 768px) {
        text-align: center;
    }

    @media screen and (min-width: 1600px) {
        text-align: left;
    }
}




&__social {
    display: flex;

    @media screen and (min-width: 480px) {
        justify-content: center;
    }
  
}

&__list:nth-child(n+2) {
    margin-left: 10px;
}

&__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: rgba(0, 0, 0, 0.25);
    transition: background-color 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__link:hover,
&__link:focus {
    background-color: var(--general-btn-cl);
    color: var(--txt-general-btn);
}

&__icon {
    fill: var(--txt-general-btn);
}

&__sub {
    display: block;
    margin-left: auto;

    @media screen and (min-width: 768px) {
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-width: 1600px) {
        margin-left: 0;
        margin-right: auto;
    }
}

&__emailinput {
    margin-bottom: 0%;

    @media screen and (min-width: 480px) {
        margin-bottom: 20px;
        }

    @media screen and (min-width: 768px) {
        margin-bottom: 20px;
        }

    @media screen and (min-width: 1600px) {
        margin-bottom: 0%;
        
        }
}

&__submit {
    // display: flex;
    // align-items: baseline;


    @media screen and (min-width: 480px) {
        display: block;
     
    }

    @media screen and (min-width: 768px) {
        display: block;
        
    }

    @media screen and (min-width: 1600px) {
        display: flex;
        align-items: baseline;
        
    }
}

&__sublabel {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 480px) {
        align-items: center;
    }
}

&__input {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--txt-mail-footer);
    background-color: transparent;
    border-color: var(--txt-mail-footer);
    width: 358px;
    height: 50px;
    box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.15);
    padding-left: 16px;
}

&__submitbtn {
    background-color: var(--general-btn-cl);
    color: var(--txt-general-btn);
    box-shadow: 1px 4px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 200px;
    height: 50px;
    margin-left: 12px;
    margin-top: 36px;
    border: none;

    @media screen and (min-width: 480px) {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }

    @media screen and (min-width: 768px) {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }

    @media screen and (min-width: 1600px) {
        display: block;
        margin-left: 10px;
        margin-right: auto;
        margin-top: 20px;
    }
}

&__sign {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
}

&__btnicon {
    position: absolute;
    display: inline-block;
    fill: var(--txt-general-btn);
    margin-bottom: auto;
    margin-right: 28px;
    margin-top: auto;
    margin-left: 10px;
}
}





