.header {
    border-bottom: 1px solid var(--header-line);
    z-index: 10;

&__container {
    display: flex;
    align-items: center;
}


&__logo {
    margin-top: 24px;
    margin-right: 93px;
    margin-bottom: 25px;

     @media screen and (min-width: 480px) {
        margin-top: 16px;
        margin-right: 276px;
        margin-bottom: 16px; 
        margin-left: 15px; 
    }

    @media screen and (min-width: 768px) {
        margin-top: 26px;
        // margin-right: 276px;
        margin-bottom: 15px; 
        margin-left: 26px; 
    }
}


&__list {

    @media screen and (min-width: 480px) {
        display: none;  
    }

    @media screen and (min-width: 768px) {
        margin-right: 50px;
        display: flex;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 50px;
        display: flex; 
    }
}



&__item {
    margin-right: 50px;
}

&__link {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--txt-main);
    padding: 32px 0px;
}

&__link.current {
    position: relative;
    color: var(--txt-focus)
}

&__link.current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    bottom: 0;
    border-radius: 2px;
    background-color: var(--txt-focus);
    position: absolute;
}


.line {
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--general-btn-cl);
}

&__group {
    margin-left: auto;
}

&__contact {

     @media screen and (min-width: 480px) {
        display: none;  
    }

    @media screen and (min-width: 768px) {
        margin-left: 50px;
        display: flex;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 50px;
        display: flex;
}
}

&__mailto {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--txt-secondery);
    padding: 32px 0px;
    transition: background-color 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__mailto:hover,
&__mailto:focus {
    color: var(--txt-focus);
}

&__i-email,
&__i-tel {
    fill: currentColor;
    margin-right: 10px;
}

&__tel {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--txt-secondery);
    margin-left: 50px;
    padding: 32px 0px;
    transition: background-color 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__tel:hover,
&__tel:focus {
    color: var(--txt-focus);
}
}