.modal {
    position: absolute;
    width: 528px;
    background-color: var(--txt-general-btn);
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    top: 50%;
    left: 50%;
    /* padding: 15px; */
    box-shadow: 1px 0px, 2px rgba(0, 0, 0, 0.2), 1px 0px 1px rgba(0, 0, 0, 0.14), 3px 0px 1px rgba(0, 0, 0, 0.12);
    padding: 40px;
    border-radius: 4px;

    @media screen and (min-width: 480px) {
        max-width: 450px;
        max-height: 609px;
        padding-top: 32px;
        padding-right: 32px;
        padding-left: 48px;
    }


&__header {
    // font-weight: 700;
    // font-size: 20px;
    // line-height: calc(23 /20);
    // letter-spacing: 0.03em;
    // color: var(--txt-main);
    // align-items: center;
    // justify-content: center;
    // margin-bottom: 12px;

    @media screen and (min-width: 480px) {
        font-weight: 700;
        font-size: 20px;
        line-height: calc(30 /20);
        letter-spacing: 0.03em;
        color: var(--txt-main);
        margin-bottom: 12px;
        text-align: center;
    }

}

&__form {
    display: flex;
    flex-direction: column;
}

&__name {
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

/* .modal-form-row {
    display: block; 
    position: relative;  
    width: 100%;
    margin-bottom: 10px;
} */

&__title {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: var(--txt-secondery);
    padding-bottom: 4px;
}


&__input {
    width: 100%;
    height: 40px;
    border-color: rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 40px;
    padding-right: 15px;
    border-width: 1px;
    cursor: pointer;
    outline: transparent;
}

&__input:focus {
    border: 1px solid var(--general-btn-cl);
}

&__svg {
    position: absolute;
    left: 12px;
    bottom: 11px;
}

&__msg {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    resize: none;
    border-color: rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 20px;
    color: rgba(117, 117, 117, 0.5);
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    cursor: pointer;
    outline: transparent;
}

&__msg::placeholder {
    color: var(--txt-secondery);
    opacity: 1;

    transition: opacity 250ms ease-in-out 50ms;
}

&__msg:focus {
    border: 1px solid var(--general-btn-cl);
}

&__checkbox  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;

    @media screen and (min-width: 480px) {
        margin-bottom: 30px;
    }
}

&__checkboxinput {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

&__checkboxicon {
    display: inline-block;
    width: 16px;
    height: 15px;
    outline: 1px var(--txt-main);
    border-radius: 2px;
    border: 2px solid var(--txt-main);
}

&__checkboxinput:checked+&__checkboxicon {
    background-color: var(--general-btn-cl);
    background-image: url('../images/icons/icon\ check.svg');
    background-size: contain;
    background-origin: border-box;
    border-color: var(--general-btn-cl);
    background-position: center;
}



&__agreement {
    color: var(--txt-secondery);
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;

    @media screen and (min-width: 480px) {
        font-size: 12px;
        line-height: calc(14 / 12);
    }
}

&__agreementlink {
    color: var(--general-btn-cl);
    text-decoration: underline;
}

&__formbtn {
    display: block;
    margin: auto;
    width: 200px;
    height: 50px;
    background-color: var(--general-btn-cl);
    color: var(--txt-general-btn);
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    border: none;
    box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

&__btn {
    display: flex;
    margin-top: 8px;
    margin-right: 8px;
    background-color: var(--txt-general-btn);
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
}

&__btn:hover,
&__btn:focus+svg {
    fill: var(--general-btn-cl);
}

&__input:focus+&__svg {
    fill: #2196F3;
}
}
.row-title {
display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: var(--txt-secondery);
    padding-bottom: 4px;
}

// .modal-form-message {
//     display: block;
//     position: relative;
//     width: 100%;
//     margin-bottom: 10px;

// }