.logo {
    font-family: var(--secondary-font);
    color: var(--txt-logo);

    @media screen and (min-width: 320px) and (max-width: 480px) {
    font-size: 24px;
    line-height: calc( 28 / 24 );
    }

    @media screen and (min-width: 768px) and (max-width: 1199px){
    font-size: 24px;
    line-height: calc( 28 / 24 );
    }

    @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: calc( 30 / 26 );
    }
}

span.logo__accent {
    color: var(--txt-logos);
}

span.logo__black {
    color: var(--txt-logo-black);
}

span.logo__white {
    color: var(--txt-general-btn);
}