body {
    font-family: var(--main-font);
    font-size: 16px;
    color: var(--txt-main);
    line-height: 1.14;
    letter-spacing: 0.03em;
}

.approach-hidentitle {
    display: none;
}

// * {
//     outline: 2px solid red;
// }

