.canceled {
    list-style-type: none;
    text-decoration: none;
    font-style: normal;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

.link {
    text-decoration: none;
    color: currentColor;
}